<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h1>Crear Usuario</h1>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Crear Usuario</button>
            </form>
        </div>
    </div>


    <footer class="bg-light text-center text-black">
        <div class="container">
          <div class="p-3">
            Matias Cisternas - Javier Rodriguez - Sebastian Vasquez - Nicolas Vidal<br>
            &copy; 2023 - Integración de plataforma
          </div>
        </div>
      </footer>
</body>
</html>