<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
        }
    </style>

    <title>MusicPro</title>
</head>
<body>
    <h1>MusicPro</h1>
      <!-- navbar-->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="navbarToggleExternalContent">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">Categorías</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="categoriesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Instrumentos de Cuerdas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
                        <li class="">
                            <a class="dropdown-item " href="/guitarras">Guitarra</a>
                            <ul class="">
                                <li><a class="dropdown-item" href="/solido">Guitarra cuerpo sólido</a></li>
                                <li><a class="dropdown-item" href="/acusticas">Guitarra Acústicas</a></li>
                                <li><a class="dropdown-item" href="/electricas">Guitarra Eléctricas</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="#">Bajos</a></li>
                        <ul class="">
                            <li><a class="dropdown-item" href="#">Bajos Cuatro Cuerdas</a></li>
                            <li><a class="dropdown-item" href="#">Bajos Cinco Cuerdas</a></li>
                            <li><a class="dropdown-item" href="#">Bajos Activos</a></li>
                            <li><a class="dropdown-item" href="#">Bajos Pasivos</a></li>
                        </ul>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="categoriesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Percusión
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
                        <li>
                            <a class="dropdown-item" href="#">Baterías Acústicas</a>
                            <ul class="">
                                <li><a class="dropdown-item" href="#">Tama</a></li>
                                <li><a class="dropdown-item" href="#">Pearl</a></li>
                                <li><a class="dropdown-item" href="#">Sonor</a></li>
                                <li><a class="dropdown-item" href="#">Mapex</a></li>
                            </ul>
                        </li>
                        
                        <li>
                            <a class="dropdown-item" href="#">Baterías Electricas</a>
                            <ul class="">
                                <li><a class="dropdown-item" href="#">Roland</a></li>
                                <li><a class="dropdown-item" href="#">Alesis</a></li>
                          
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="categoriesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Amplicifadores
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
                        <li>
                            <a class="dropdown-item" href="#">Cabezales</a>
                            <ul class="">
                                <li><a class="dropdown-item" href="#">ENGL</a></li>
                                <li><a class="dropdown-item" href="#">Marshall</a></li>
                                <li><a class="dropdown-item" href="#">Pavey</a></li>
                                <li><a class="dropdown-item" href="#">EVH</a></li>
                            </ul>
                        
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Cajas</a>
                            <ul class="">
                                <li><a class="dropdown-item" href="#">ENGL</a></li>
                                <li><a class="dropdown-item" href="#">Marshall</a></li>
                                <li><a class="dropdown-item" href="#">Pavey</a></li>
                                <li><a class="dropdown-item" href="#">EVH</a></li>
                            </ul>
                        
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="categoriesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Accesorios Varios
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
                        <li><a class="dropdown-item" href="#">Audífonos</a></li>
                        <li><a class="dropdown-item" href="#">Monitores</a></li>
                        <li><a class="dropdown-item" href="#">Parlantes</a></li>
                        <li><a class="dropdown-item" href="#">Cables</a></li>
                        <li><a class="dropdown-item" href="#">Micrófonos</a></li>
                        <li><a class="dropdown-item" href="#">Interfaces</a></li>
                        <li><a class="dropdown-item" href="#">Mixers</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="btn btn-primary ms-auto" href="/login/">Login</a>
        </div>
    </nav>
    <!-- navbar-->


    <div class="">
        <div class="alert alert-primary" role="alert">
        <table class="table table-bordered">
            <form  action="/pagar/" method="POST">
                {% csrf_token %}
                <thead>
                    <tr>
                        <th scope="row" colspan="3" class="text-center">Carrito</th>
                    </tr>
                    
                    <tr>
                      
                        <th scope="col">Imagen</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">PRECIO</th>
                        <th scope="col">Total producto</th>
                        <th scope="col">CANTIDAD</th>
                    </tr>
                <thead>
                <tbody>
                {% if request.session.carrito.items %}
                {% for key, value in request.session.carrito.items %}
                    <tr>
                        <td><img src="{{ value.imagen }}" class="card-img-top img-fluid" alt="{{ value.nombre }}" style="width: 100px; height: auto;"></td>
                        <td>{{ value.nombre }}</td>
                        <td>${{ value.precio }}</td>
                        <td>${{value.acumulado}}</td> 
                        <td>{{value.cantidad}} 
                    
                            <a href="{% url 'Adds' value.id %}" class="badge btn btn-dark badge-dark">+</a>

   {% comment %}  <a href="{% url 'Sub' value.producto_id %}" class="badge btn btn-dark badge-dark" {% if value.cantidad <= 1 %} disabled {% endif%}>-</a> {% endcomment %}
                        </td>
                    </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="3">
                        <div class="alert alert-danger text-center">Sin productos</div>
                    </td>
                </tr>
                {% endif %}
             {% comment %}        <tr>
                        <th scope="row">Descuento:</th>
                        <td colspan="2" id="descuento" name="descuento">$ {{descuentos}}</td>
                    </tr> {% endcomment %}
        
                    <tr>
                     
                        <th scope="row">Total:</th>
                        <td colspan="2" id="total_carrito" name="total_carrito">$ {{total_carrito}}</td>
                    </tr>
                </tbody>
                <tr>
                    <td>
                    <div class="row text-center">
                        {% comment %} <div class="col-4"><a href="{% url 'productos' %}" class="btn btn-primary btn-lg" >Atras</a></div> {% endcomment %}
                       {% comment %}  <div class="col-4"><a href="{% url 'CLS' %}" class="btn btn-primary btn-lg" >Limpiar</a></div> {% endcomment %}
                        <div class="col-4"><button type="submit" {% if total_carrito <= 0 %} disabled {% endif%} class="btn btn-primary btn-lg">Pagar</button></div>
                    </div>
                    </td>            
                </tr>
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }} </div>
                    {% endfor %}
                {% endif %}   
            </form>   
        </table>
    
        </div>

        


    
    
    <div class="wrapper">
        <div class="content">
            <!-- Contenido principal de la página -->
        </div>
    
        <footer class="bg-light text-center text-black">
            <div class="text-center p-3">
                Matias Cisternas - Javier Rodriguez - Sebastian Vasquez - Nicolas Vidal<br>
                &copy; 2023 - Integración de plataforma
            </div>
        </footer>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
