<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% comment %}    <link rel="stylesheet" href="{% static '/css/main.css' %}">  {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
        }

        
        
    </style>

    <title>MusicPro</title>
</head>
<body>
    <h1 class="text-center"><a href="/" class="no-link-style">MusicPro</a></h1>

      <!-- navbar-->
      <div class="offcanvas offcanvas-start" tabindex="-1" id="navbarToggleExternalContent">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">Categorías</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="categoriesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Instrumentos de Cuerdas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
                        <li class="">
                            <a class="dropdown-item " href="/guitarras">Guitarra</a>
                            <ul class="">
                                <li><a class="dropdown-item" href="/solido">Guitarra cuerpo sólido</a></li>
                                <li><a class="dropdown-item" href="/acusticas">Guitarra Acústicas</a></li>
                                <li><a class="dropdown-item" href="/electricas">Guitarra Eléctricas</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="/bajos">Bajos</a></li>
                        <ul class="">
                            <li><a class="dropdown-item" href="/bajoCuatro">Bajos Cuatro Cuerdas</a></li>
                            <li><a class="dropdown-item" href="/bajoCinco">Bajos Cinco Cuerdas</a></li>
                            <li><a class="dropdown-item" href="/bajoActivo">Bajos Activos</a></li>
                            <li><a class="dropdown-item" href="/bajoPasivo">Bajos Pasivos</a></li>
                        </ul>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="categoriesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Percusión
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
                        <li>
                            <a class="dropdown-item" href="/bateriaA">Baterías Acústicas</a>
                            <ul class="">
                                <li><a class="dropdown-item" href="/tamaA">Tama</a></li>
                                <li><a class="dropdown-item" href="/pearlA">Pearl</a></li>
                                <li><a class="dropdown-item" href="/sonorA">Sonor</a></li>
                                <li><a class="dropdown-item" href="/mapexA">Mapex</a></li>
                            </ul>
                        </li>
                        
                        <li>
                            <a class="dropdown-item" href="/bateriaE">Baterías Electricas</a>
                            <ul class="">
                                <li><a class="dropdown-item" href="/rolandE">Roland</a></li>
                                <li><a class="dropdown-item" href="/rolandA">Alesis</a></li>
                          
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="categoriesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Amplificadores
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
                        <li>
                            <a class="dropdown-item" href="/cabezales">Cabezales</a>
                            <ul class="">
                                <li><a class="dropdown-item" href="/cabezalEngl">ENGL</a></li>
                                <li><a class="dropdown-item" href="/cabezalMarshall">Marshall</a></li>
                                <li><a class="dropdown-item" href="/cabezalPavey">Pavey</a></li>
                                <li><a class="dropdown-item" href="/cabezalEvh">EVH</a></li>
                            </ul>
                        
                        </li>
                        <li>
                            <a class="dropdown-item" href="/cajas">Cajas</a>
                            <ul class="">
                                <li><a class="dropdown-item" href="/cajasEngl">ENGL</a></li>
                                <li><a class="dropdown-item" href="/cajasMarshall">Marshall</a></li>
                                <li><a class="dropdown-item" href="/cajasPavey">Pavey</a></li>
                                <li><a class="dropdown-item" href="/cajasEvh">EVH</a></li>
                            </ul>
                        
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  id="categoriesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Accesorios Varios
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
                        <li><a class="dropdown-item" href="/audifonos">Audífonos</a></li>
                        <li><a class="dropdown-item" href="/monitores">Monitores</a></li>
                        <li><a class="dropdown-item" href="/parlantes">Parlantes</a></li>
                        <li><a class="dropdown-item" href="/cables">Cables</a></li>
                        <li><a class="dropdown-item" href="/microfonos">Micrófonos</a></li>
                        <li><a class="dropdown-item" href="/interfaces">Interfaces</a></li>
                        <li><a class="dropdown-item" href="/mixers">Mixers</a></li>
                        <li><a class="dropdown-item" href="/accesoriosGeneral">Todos los Accesorios</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <nav class="navbar navbar-light border">
      <div class="container-fluid">
          {% if user.is_authenticated %}
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Logout</button>
          </form>
        
          {% else %}
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <a class="btn btn-primary ms-auto" href="/login/">Login</a>
          {% endif %}

      </div>
  </nav>



    <div>
        
        <h1>Despacho</h1>




    </div>

    


    <div class="row"  style="min-height: 100vh; position: relative;">
        <div class="col-md-8">
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            <h3>Despacho a domicilio</h3>
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne" data-bs-parent="#accordionPanelsStayOpenExample">
                    <div class="accordion-body">
                        <form class="row g-3">
                            <div class="col-md-6">
                              <label for="inputNombre" class="form-label">Nombre</label>
                              <input type="text" class="form-control" id="inputNombre">
                            </div>
                            <div class="col-md-6">
                              <label for="inputApellidos" class="form-label">Apellidos</label>
                              <input type="text" class="form-control" id="inputApellidos">
                            </div>
                            <div class="col-12">
                              <label for="inputAddress" class="form-label">Direccion</label>
                              <input type="text" class="form-control" id="inputAddress" placeholder="Conquistador 1232">
                            </div>
                            <div class="col-12">
                              <label for="inputAddress2" class="form-label">Direccion Opcional</label>
                              <input type="text" class="form-control" id="inputAddress2" placeholder="Departemento, piso , etc">
                            </div>
                            <div class="col-md-6">
                              <label for="inputCity" class="form-label">Ciudad</label>
                              <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="col-md-4">
                              <label for="inputState" class="form-label">Region</label>
                              <select id="inputState" class="form-select">
                                <option selected>Elegir</option>
                                <option value="Aysen">Aysen</option>
                                <option value="Antofagasta">Antofagasta</option>
                                <option value="Araucania">Araucania</option>
                                <option value="Atacama">Atacama</option>
                                <option value="Bio-Bio">Bio-Bio</option>
                                <option value="Coquimbo">Coquimbo</option>
                                <option value="O'Higgins">O'Higgins</option>
                                <option value="Los Lagos">Los Lagos</option>
                                <option value="Magallanes y la Antartica Chilena">Magallanes y la Antartica Chilena</option>
                                <option value="Maule">Maule</option>
                                <option value="Santiago Region Metropolitana">Santiago Region Metropolitana</option>
                                <option value="Tarapaca">Tarapaca</option>
                                <option value="Valparaiso">Valparaiso</option>
                              </select>
                            </div>
                            <div class="col-md-2">
                              <label for="inputZip" class="form-label">Codigo Postal</label>
                              <input type="text" class="form-control" id="inputZip">
                            </div>
                            <div class="col-12">
                              <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                          </form>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        <h3>Retiro en tienda</h3>
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo" data-bs-parent="#accordionPanelsStayOpenExample">
                    <div class="accordion-body">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Seleccione la tienda de retiro</option>
                            <option value="1">Santiago</option>
                            <option value="2">Maipú</option>
                            <option value="3">San Miguel</option>
                          </select>
                    </div>
                  </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 cart-container">
          <div class="alert alert-primary" role="alert">
            <table class="table table-bordered">
              <form action="/pagar/" method="POST">
                {% csrf_token %}
                <thead>
                  <tr>
                    <th scope="row" colspan="3" class="text-center">Carrito</th>
                  </tr>
                  <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Total producto</th>
                  </tr>
                </thead>
                <tbody>
                  {% if request.session.carrito.items %}
                  {% for key, value in request.session.carrito.items %}
                  <tr>
                    <td>
                      <img src="{{ value.imagen }}" class="card-img-top img-fluid" alt="{{ value.nombre }}" style="width: 100px; height: auto;">
                    </td>
                    <td>${{value.acumulado}}</td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  {% endif %}
                  <tr>
                    <th scope="row">Total: $</th>
                    <td colspan="2" id="total_carrito" name="total_carrito">$ {{total_carrito}}</td>
                  </tr>
                  <tr>
                    <td><button type="submit" {% if total_carrito <= 0 %} disabled {% endif%} class="btn btn-primary btn-lg">Pago WebPay</button></td>
                  </tr>
                  <tr>
                    <td><button type="submit" formaction="{% url 'transferencia_page' %}" class="btn btn-primary btn-lg">Transferencia Bancaria</button></td>
                  </tr>
          
                </tbody>
        
         
             
              </form>
           
            
            </table>
            
          </div>
     
        </div>


      </div>
      <footer class="bg-light text-center text-black ">
        <div class="container">
          <div class="p-3">
            Matias Cisternas - Javier Rodriguez - Sebastian Vasquez - Nicolas Vidal<br>
            &copy; 2023 - Integración de plataforma
          </div>
        </div>
      </footer>


  

          
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
